#!/usr/bin/env python

from distutils.core import setup

setup(
	name='$pkg',
	version='1.0',
	description='Python module TODO',
	author='Vladimir Roncevic',
	author_email='elektron.ronca@gmail.com',
	url='https://github.com/vroncevic/TODO',
	license='GPL 2017 Free software to use and distributed it.',
	long_description='TODO',
	keywords='$pkg, TODO',
	platforms='POSIX',
	packages=[
		'$pkg'
	]
)

